{% block body %}
	{# {% set pin_count = pins|length %}
	{{ pin_count }} #}
	{% for pin in pins %}
		<article>
			<h2><a href="{{ path('app_pin_show', {id: pin.id}) }}">{{ pin.title }} </a></h2>
			<p>{{ pin.description|u.truncate(10,'...',false) }}</p>
			<p>Submitted {{ pin.createdAt|ago }}</p>
		</article>
	{% else %}
		<p>
			Sorry, no pin yet
		</p>
	{% endfor %}
{% endblock %}