{% extends 'base.html.twig' %}
{% block title %}{{ pin.title }}{% endblock %}
{% block body %}
    <article>
        <h2><a href="{{ path('app_pin_show', {id: pin.id}) }}">{{ pin.title }} </a></h2> 
        <p>{{ pin.description }}</p>
        <p>Submitted {{ pin.createdAt|date }}</p>
    </article>
        <a href="#">Edit</a>
        <a href="{{ path('app_home') }}">Go Back</a>
{% endblock %}