{% extends 'base.html.twig' %}
{% block title %}
	{{ pin.title }}
{% endblock %}
{% block body %}
	<article>
		<h1>{{ pin.title }}</h1>
		<img src={{ pin.imageName }} width="200" height="300">
		<h5>{{ pin.description }}</h5>
		<p>By
			{{ pin.user.firstname ~" "~ pin.user.lastname }}</p>
		<p>Submitted
			{{ pin.createdAt|date }}</p>
		<p>Last update
			{{ pin.updatedAt|date }}</p>

	</article>
	{% if app.user %}
		{% if app.user.id == pin.user.id %}
			<a href="{{ path('app_pin_edit', {id: pin.id}) }}">Edit Pin |
			</a>
			<a href="#" onclick="event.preventDefault(); confirm('Are you sure you want to delete ?') && document.getElementById('js-pin-delete-form').submit();">Delete |
			</a>
			<a href="{{ path('app_home') }}">Go Back</a>
		{% else %}
			<a href="{{ path('app_home') }}">Go Back</a>
		{% endif %}
	{% else %}
		<a href="{{ path('app_home') }}">Go Back</a>
	{% endif %}

	<form id="js-pin-delete-form" action="{{ path('app_pin_delete', {id: pin.id}) }}" method="post" style="display:none;">
		<input type="hidden" name="_method" value="DELETE">
	</form>


{% endblock %}
